@model ChangePasswordViewModel
@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("ChangePassword", "Account", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "Password change was unsuccessful. Please correct the errors and try again.")

    <fieldset>
        <legend>Change Password Form</legend>
        <ol>
            <li>
			    @Html.LabelFor(m => m.CurrentPassword)
			    @Html.PasswordFor(m => m.CurrentPassword)
			    @Html.ValidationMessageFor(m => m.CurrentPassword) 
            </li> 
            <li>
			    @Html.LabelFor(m => m.NewPassword)
			    @Html.PasswordFor(m => m.NewPassword)
			    @Html.ValidationMessageFor(m => m.NewPassword) 
            </li> 
            <li>
			    @Html.LabelFor(m => m.ConfirmNewPassword)
			    @Html.PasswordFor(m => m.ConfirmNewPassword)
			    @Html.ValidationMessageFor(m => m.ConfirmNewPassword)
            </li>
        </ol>
            <input type="submit" value="Change Password" class="btn btn-success"/>
        </fieldset>
}
