@model ConferenceApp.Models.RegisterModel
@{
    ViewBag.Title = "Register";
}

@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    <fieldset>
        <legend>Registration Form</legend>
        <ol>
            <li>
                @Html.LabelFor(m => m.FirstName)
                @Html.TextBoxFor(m => m.FirstName)
                @Html.ValidationMessageFor(m => m.FirstName)
            </li>
            <li>
                @Html.LabelFor(m => m.MiddleName)
                @Html.TextBoxFor(m => m.MiddleName)
                @Html.ValidationMessageFor(m => m.MiddleName)
            </li>
            <li>
                @Html.LabelFor(m => m.LastName)
                @Html.TextBoxFor(m => m.LastName)
                @Html.ValidationMessageFor(m => m.LastName)
            </li>
            <li>
                <div class="editor-label">
                    @Html.LabelFor(model => model.PhotoId)
                    @Html.HiddenFor(model=>model.PhotoId)
                </div>
                <div class="editor-field">
                        <div>
                            @if (@Model.PhotoId == null)
                            { 
                            @: No photo
                            }
                            else
                            {
                                <img src="@Model.PhotoThumbnail" class="img-polaroid" />
                            }
                           </div>
                           <div style="clear:left;"><input type="file" name="image"/></div>
                </div>
            </li>
            <li>
                @Html.LabelFor(m => m.DateOfBirth)
                @Html.TextBox("DateOfBirth", String.Format("{0:dd-MM-yyyy}", Model.DateOfBirth), new { @class = "datepicker", @id = "start-date" })
                @Html.ValidationMessageFor(m => m.DateOfBirth)
            </li>
            <li>
                @Html.LabelFor(m => m.Email)
                @Html.TextBoxFor(m => m.Email)
                @Html.ValidationMessageFor(m => m.Email)
            </li>
            <li>
                @Html.LabelFor(m => m.PhoneNumber)
                @Html.TextBoxFor(m => m.PhoneNumber)
            </li>
            <li>
                @Html.LabelFor(m => m.Comment)
                @Html.TextAreaFor(m => m.Comment)
            </li>
            <li>
                @Html.LabelFor(m => m.Password)
                @Html.PasswordFor(m => m.Password)
                @Html.ValidationMessageFor(m => m.Password)
            </li>
            <li>
                @Html.LabelFor(m => m.ConfirmPassword)
                @Html.PasswordFor(m => m.ConfirmPassword)
                @Html.ValidationMessageFor(m => m.ConfirmPassword)
            </li>
        </ol>
        <input type="submit" value="Register" class="btn btn-success" />
        <a href="/Account/Login" class="btn btn-link">Cancel</a>
    </fieldset>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
