@model RequestPasswordResetPageModel
@{
    ViewBag.Title = "RequestResetPassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("RequestPasswordReset", "Account", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "Please correct the errors and try again.")

    <fieldset>
        <legend>Request Reset Password</legend>
        <ol>
            <li>
			    @Html.LabelFor(m => m.Email)
			    @Html.TextBoxFor(m => m.Email)
			    @Html.ValidationMessageFor(m => m.Email) 
            </li>
        </ol>
            <input type="submit" value="Submit" />
    </fieldset>    
}