@model SessionListViewModel
@using ConferenceApp.Resourses.Shared;
@using System.Web.Mvc.Html;
@using Model.Models;

@{
    ViewBag.Title = Localization.SessionTitle;
}
<script src="~/Scripts/Session.js"></script>

<p>
    @Html.ActionLink(Localization.SessionCreate, "Create", null, new { @class="btn btn-success"})
</p>
<div class="filters">
	<div class="fields">
		@using (Html.BeginForm("List", "Session", FormMethod.Get, new { @class = "form-horizontal" }))
        {
            <div class="row-fluid">
                <div class="span4">
                    <div class="control-group">
	                @Html.LabelFor(m => m.Filter.FilterText, new { @class = "control-label" })
                        <div class="controls">
	                        @Html.TextBoxFor(m => m.Filter.FilterText, new { @class = "input-medium search-query" })
                        </div>
                    </div>
                </div>
                <div class="span4">
                    <div class="control-group">
                    @Html.LabelFor(model => model.Filter.SelectedTypeId, new { @class = "control-label" })
                    <div class="controls">
                    @Html.DropDownListFor(model => model.Filter.SelectedTypeId, Model.Filter.Types, new { @class = "span10" })
                        </div>
                    </div>
                </div>
                <div class="span4">
                <label class="checkbox inline">
                    @Html.CheckBox("Filter.ShowClosed", Model.Filter.ShowClosed) @Html.LabelFor(model => model.Filter.ShowClosed)
                </label>
                </div>
            </div>
            <div class="row-fluid">
                <div class="span4">
                    <div class="control-group">
	                @Html.LabelFor(m => m.Filter.From, new { @class = "control-label" })
                        <div class="controls">
                    @Html.EditorFor(model => model.Filter.From)
                        </div>
                    </div>
                </div>
                <div class="span4">
                    <div class="control-group">
	                @Html.LabelFor(m => m.Filter.To, new { @class = "control-label" })
                        <div class="controls">
                    @Html.EditorFor(model => model.Filter.To)
                        </div>
                    </div>
                </div>
                <div class="span4">
	                <input type="submit" class="btn btn-primary" value="@Localization.Search" />
                    <input type="reset" class="btn form-reset" value="@Localization.Clear" />
                </div>
            </div>       
  }
	</div>
</div>

<div class="list-container session-list">
        <div class="list-header list-row">
            <div>@Html.SortingOptions(Model.SortOptions, "Start")</div>
            <div>@Html.SortingOptions(Model.SortOptions, "End")</div>
            <div>@Html.SortingOptions(Model.SortOptions, "Title")</div>
            <div>@Html.SortingOptions(Model.SortOptions, "Type")</div>
            <div>@Html.SortingOptions(Model.SortOptions, "NumberOfRegistrants")</div>
            <div></div>
            <div></div>
        </div>

         @if (!Model.List.Any())
        { 
            <div class="no-results">No sessions to display</div>
        }

        @foreach (var goup in Model.List)
        {
            <div class="list-group">
                @foreach (var item in goup.Sessions)
	            {
		             <div class="list-row">
                        <div class="group-start">   
                            <div>@item.Start.ToShortDateString()</div>
                        </div>
                         <div>@item.End.ToShortDateString()</div>
                         <div>@item.Title</div>
                         <div>@item.Type</div>
                         <div>@item.NumberOfRegistrants</div>
                         <div><span style="display:@(item.IsRegistered? "inline" : "none")"><i class="icon-thumbs-up"></i> Registered</span>
                            <a href="/Session/Register/@item.Id" class="register-in-session btn btn-success" style="display:@(!item.IsRegistered? "inline" : "none")">Register</a></div>
                         <div><a href="/Session/Register/@item.Id" class="register-in-session btn btn-info"><i class="icon-list icon-white"></i></a></div>
		             </div>
	            }
            </div>            
        }
    </div>

@Html.Pager((IPagination)Model.List)
