@{
    ViewBag.Title = HomeResourses.About;
}
@using ConferenceApp.Resourses.Home
<hgroup class="title">
    <h1>@HomeResourses.Title.</h1>
    <h2>@HomeResourses.Message</h2>
</hgroup>

<article>
    <p>
        Use this area to provide additional information.
    </p>

    <p>
        Use this area to provide additional information.
    </p>

    <p>
        Use this area to provide additional information.
    </p>
</article>

<aside>
    <h3>Aside Title</h3>
    <p>
        Use this area to provide additional information.
    </p>
    <ul>
        <li>@Html.ActionLink(HomeResourses.Home, "Index", "Home")</li>
        <li>@Html.ActionLink(HomeResourses.About, "About", "Home")</li>
        <li>@Html.ActionLink(HomeResourses.Contact, "Contact", "Home")</li>
    </ul>
</aside>